# **Data Cleaning & Preparation**

### Scalling/Standardize Data

### **Target Pertemuan**

<hr>

**Tujuan Instruksional Umum:** Peserta mampu mempersiapkan data untuk pembuatan model machine learning.

**Target Pertemuan:** Peserta mampu melakukan scaling/standardize data

<hr>

## **Scalling/Standardize Data**

Many machine learning algorithms work better when features are on a relatively similar scale and close to normally distributed. MinMaxScaler, RobustScaler, StandardScaler, and Normalizer are scikit-learn methods to preprocess data for machine learning. Which method you need, if any, depends on your model type and your feature values.

As often as these methods appear in machine learning workflows, I found it difficult to find information about which of them to use when. Commentators often use the terms scale, standardize, and normalize interchangeably. However, their are some differences and the four scikit-learn functions we will examine do different things.

### **What is Scale, Standardize and Normalize?**

* **Scale** generally means to change the range of the values. The shape of the distribution doesn’t change. Think about how a scale model of a building has the same proportions as the original, just smaller. That’s why we say it is drawn to scale. The range is often set at 0 to 1.

* **Standardize** generally means changing the values so that the distribution standard deviation from the mean equals one. It outputs something very close to a normal distribution. Scaling is often implied.

* **Normalize** can be used to mean either of the above things (and more!). I suggest you avoid the term normalize, because it has many definitions and is prone to creating confusion.

### **Why we need them?**
Many machine learning algorithms perform better or converge faster when features are on a relatively similar scale and/or close to normally distributed.

Scaling and standardizing can help features arrive in more digestible form for these algorithms.

## **How to scaling/standardize data?**
Standardization is a transformation that centers the data by removing the mean value of each feature and then scale it by dividing (non-constant) features by their standard deviation. After standardizing data the mean will be zero and the standard deviation one.

Standardization can drastically improve the performance of models. For instance, many elements used in the objective function of a learning algorithm (such as the RBF kernel of Support Vector Machines or the l1 and l2 regularizers of linear models) assume that all features are centered around zero and have variance in the same order. If a feature has a variance that is orders of magnitude larger than others, it might dominate the objective function and make the estimator unable to learn from other features correctly as expected.

Depending on your needs and data, sklearn provides a bunch of scalers: StandardScaler, MinMaxScaler, MaxAbsScaler and RobustScaler.


### **1. MinMaxScaler**
> The MinMaxScaler transforms features by **scaling each feature to a given range**. This range can be set by specifying the feature_range parameter (default at (0,1)). This scaler works better for cases where the distribution is not Gaussian or the standard deviation is very small. However, it is **sensitive to outliers**, so if there are outliers in the data, you might want to consider another scaler.

> ``x_scaled = (x-min(x)) / (max(x)–min(x))``

<img src = "a_img.png" style="width:250px;height:150px"/>

For each value in a feature, MinMaxScaler subtracts the minimum value in the feature and then divides by the range. The range is the difference between the original maximum and original minimum.

MinMaxScaler preserves the shape of the original distribution. It doesn’t meaningfully change the information embedded in the original data.

Note that MinMaxScaler doesn’t reduce the importance of outliers.

The default range for the feature returned by MinMaxScaler is 0 to 1.

> ``MinMaxScaler is a good place to start unless you know you want your feature to have a normal distribution or want outliers to have reduced influence.``

### **2. RobustScaler**
> If your data contains **many outliers**, scaling using the mean and standard deviation of the data is likely to not work very well. In these cases, you can use the *RobustScaler*. **It removes the median and scales the data according to the quantile range.** The exact formula of the RobustScaler is not specified by the documentation. If you want full details you can always check the source code.

> By default, the scaler uses the Inter Quartile Range (IQR), which is the range between the 1st quartile and the 3rd quartile. The quantile range can be manually set by specifying the quantile_range parameter when initiating a new instance of the RobustScaler. Here, we transform feature 3 using an quantile range from 10% till 90%.

RobustScaler transforms the feature vector by subtracting the median and then dividing by the interquartile range (75% value — 25% value).

Like MinMaxScaler, our feature with large values — normal-big — is now of similar scale to the other features. Note that RobustScaler does not scale the data into a predetermined interval like MinMaxScaler. It does not meet the strict definition of scale I introduced earlier.

Note that the range for each feature after RobustScaler is applied is larger than it was for MinMaxScaler.

> ``Use RobustScaler if you want to reduce the effects of outliers, relative to MinMaxScaler.``

### **3. StandardScaler**
> Sklearn its main scaler, the StandardScaler, uses a strict definition of standardization to standardize data. It purely centers the data by using the following formula, where u is the mean and s is the standard deviation.

``x_scaled = (x — u) / s``

StandardScaler standardizes a feature by subtracting the mean and then scaling to unit variance. Unit variance means dividing all the values by the standard deviation. StandardScaler does not meet the strict definition of scale I introduced earlier.

StandardScaler results in a distribution with a standard deviation equal to 1. The variance is equal to 1 also, because variance = standard deviation squared. And 1 squared = 1.

StandardScaler makes the mean of the distribution 0. About 68% of the values will lie be between -1 and 1.

Deep learning algorithms often call for zero mean and unit variance. Regression-type algorithms also benefit from normally distributed data with small sample sizes.

StandardScaler does distort the relative distances between the feature values, so it’s generally my second choice in this family of transformations.

### **4. MaxAbs Scaler**
> The MaxAbsScaler works very similarly to the MinMaxScaler but automatically scales the data to a [-1,1] range based on the **absolute maximum**. This scaler is meant for **data that is already centered at zero or sparse data**. It does not shift/center the data, and thus does not destroy any sparsity.

``x_scaled = x / max(abs(x))``

### **5. Normalizer**
> Normalization is the process of scaling individual samples to have unit norm. In basic terms you need to normalize data when the algorithm predicts based on the weighted relationships formed between data points. Scaling inputs to unit norms is a common operation for text classification or clustering.

Normalizer works on the rows, not the columns! I find that very unintuitive. It’s easy to miss this information in the docs.

By default, L2 normalization is applied to each observation so the that the values in a row have a unit norm. Unit norm with L2 means that if each element were squared and summed, the total would equal 1. Alternatively, L1 (aka taxicab or Manhattan) normalization can be applied instead of L2 normalization.

Normalizer does transform all the features to values between -1 and 1 (this text updated July 2019). In our example, normal_big ends up with all its values transformed to .9999999.

## **Conclusion**
* Use MinMaxScaler as the default if you are transforming a feature. It’s non-distorting.
* You could use RobustScaler if you have outliers and want to reduce their influence. However, you might be better off removing the outliers, instead.
* Use StandardScaler if you need a relatively normal distribution.
* Use Normalizer sparingly — it normalizes sample rows, not feature columns. It can use l2 or l1 normalization.

In [1]:
import pandas as pd
import numpy as np

In [34]:
# for standardize  data
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import Binarizer

In [35]:
# open data
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [37]:
df_test = df[['Price', 'Distance', 'Car', 'Landsize', 'Rooms', 'Bedroom2', 'Bathroom']]
df_test.head()

       Price  Distance  Car  Landsize  Rooms  Bedroom2  Bathroom
0  1480000.0       2.5  1.0     202.0      2       2.0       1.0
1  1035000.0       2.5  0.0     156.0      2       2.0       1.0
2  1465000.0       2.5  0.0     134.0      3       3.0       2.0
3   850000.0       2.5  1.0      94.0      3       3.0       2.0
4  1600000.0       2.5  2.0     120.0      4       3.0       1.0

## **1. Standard Scaler**
Standard Scaler digunakan pada data yang berdistribusi normal, tapi kalau data cenderung tidak normal, scaler ini akan 'memaksa' data berdistribusi normal.

In [40]:
SScaler = StandardScaler()
Prize_scl = SScaler.fit_transform(df_test[['Price']])
df_test['Price Std Scl'] = Prize_scl
df_test.head()

<ipython-input-40-fed1b0148153>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Price Std Scl'] = Prize_scl

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157

In [55]:
df_test['Price'].describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [53]:
df_test['Price Std Scl 2'] = StandardScaler().fit_transform(df_test[['Price']])
df_test.head()

<ipython-input-53-615a74262a8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Price Std Scl 2'] = StandardScaler().fit_transform(df_test[['Price']])

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl,Price Std Scl 2,Price MinMax Scl,Price MaxAbs Scl,Price Robust Scl,Price Norm,Binarizer Car,Binarizer Bathroom
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444,0.848529,1.0,1.0,0.0
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000,0.194118,1.0,1.0,0.0
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778,0.826471,1.0,1.0,0.0
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444,-0.077941,1.0,1.0,0.0
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778,1.025000,1.0,1.0,0.0

## **2. MinMax Scaler**
Minmax Scaler digunakan pada kondisi feature yang tidak ada outliers dan dipakai sebagai cara pertama dalam proses standardize feature.
Bekerja dengan baik jika datanya tidak ada outlier. Karena MinMax Scaler sensitif dengan outlier. MinMax Scaler tidak mengitervensi data agar berdistribusi normal. MinMax Scaler hanya mengubah scale-nya saja.

In [42]:
df_test['Price MinMax Scl'] = MinMaxScaler().fit_transform(df_test[['Price']])
df_test.head()

<ipython-input-42-ce4d2047d410>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Price MinMax Scl'] = MinMaxScaler().fit_transform(df_test[['Price']])

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl,Price Std Scl 2,Price MinMax Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938

## 3. MaxAbs Scaler
MaxAbs Scaler dipakai ketika datanya tidak ada outlier.

In [43]:
df_test['Price MaxAbs Scl'] = MaxAbsScaler().fit_transform(df_test[['Price']])
df_test.head()

<ipython-input-43-04d68fab4f5c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Price MaxAbs Scl'] = MaxAbsScaler().fit_transform(df_test[['Price']])

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl,Price Std Scl 2,Price MinMax Scl,Price MaxAbs Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778

## 4. Robust Scaler
Robust Scaler dipakai ketika feature memailiki data **outlier**, karena Scaler ini **tidak** mendasarkan rumusnya dengan mean atau standart deviasi. Tapi Scaler ini dasar teorinya menggunakan IQR. Sehingga lebih tahan (robust) dengan adanya data outliers.

In [44]:
df_test['Price Robust Scl'] = RobustScaler().fit_transform(df_test[['Price']])
df_test.head()

<ipython-input-44-32a8909a7bff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Price Robust Scl'] = RobustScaler().fit_transform(df_test[['Price']])

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl,Price Std Scl 2,Price MinMax Scl,Price MaxAbs Scl,Price Robust Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444,0.848529
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000,0.194118
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778,0.826471
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444,-0.077941
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778,1.025000

## 5. Normalizer & Binarizer [TAMBAHAN]
Normalizer sebenarnya bekerja di row (baris), bukan kolom

In [46]:
df_test['Price Norm'] = Normalizer().fit_transform(df_test[['Price']])
df_test.head()

<ipython-input-46-9108e0436df7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Price Norm'] = Normalizer().fit_transform(df_test[['Price']])

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl,Price Std Scl 2,Price MinMax Scl,Price MaxAbs Scl,Price Robust Scl,Price Norm
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444,0.848529,1.0
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000,0.194118,1.0
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778,0.826471,1.0
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444,-0.077941,1.0
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778,1.025000,1.0

In [51]:
df_test['Binarizer Bathroom'] = Binarizer(threshold = 2).fit_transform(df_test[['Bathroom']])
df_test

<ipython-input-51-07c08caa5fc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Binarizer Bathroom'] = Binarizer(threshold = 2).fit_transform(df_test[['Bathroom']])

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Price Std Scl,Price Std Scl 2,Price MinMax Scl,Price MaxAbs Scl,Price Robust Scl,Price Norm,Binarizer Car,Binarizer Bathroom
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444,0.848529,1.0,1.0,0.0
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000,0.194118,1.0,1.0,0.0
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778,0.826471,1.0,1.0,0.0
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444,-0.077941,1.0,1.0,0.0
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778,1.025000,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,1245000.0,16.7,2.0,652.0,4,4.0,2.0,0.264851,0.264851,0.130118,0.138333,0.502941,1.0,1.0,0.0
13576,1031000.0,6.8,2.0,333.0,3,3.0,2.0,-0.069897,-0.069897,0.106113,0.114556,0.188235,1.0,1.0,0.0
13577,1170000.0,6.8,4.0,436.0,3,3.0,2.0,0.147533,0.147533,0.121705,0.130000,0.392647,1.0,1.0,0.0
13578,2500000.0,6.8,5.0,866.0,4,4.0,1.0,2.227975,2.227975,0.270892,0.277778,2.348529,1.0,1.0,0.0
13579,1285000.0,6.3,1.0,362.0,4,4.0,1.0,0.327421,0.327421,0.134605,0.142778,0.561765,1.0,1.0,0.0

In [52]:
df_test['Binarizer Bathroom'].unique()

array([0., 1.])

# **TUGAS TAKE HOME:**
- Gunakan data Melb_data.csv
- Price adalah target sehingga tidak perlu di-scalling. edangkan feature Distance, Car, Landsize, Rooms, Bedroom2, Bathroom adalah feature yang harus di-scalling.
- Data NaN (meskipun bukan best practice) dihapus saat sudah menjadi df_test (sudah dipilih feature-nya).
- Gunakan Scaler yang sesuai dengan kondisi data! (Cek ada outliers atau tidak)
- Simpan ke dalam dataframe baru yang berisi target (Price) dan feature Distance, Car, Landsize, Rooms, Bedroom2, Bathroom yang sudah di-scaling.
- Dikirim ke email saya.

### **Step to step**
1. drop all missing values
2. cek outliers tiap feature
3. scalling sesuai kondisi feature
4. simpan dalam df_ready

#### **Reference**:
* Jeff Hale, "Scale, Standardize, or Normalize with Scikit-Learn", https://towardsdatascience.com/scale-standardize-or-normalize-with-scikit-learn-6ccc7d176a02

* Robert R.F. DeFilippi, "Standardize or Normalize? — Examples in Python", https://medium.com/@rrfd/standardize-or-normalize-examples-in-python-e3f174b65dfc

* Shubham Panchal, "Standardization on Crazy Data-Python", https://medium.com/predict/standardization-on-crazy-data-python-cd5b1282a97f

* Shubham Panchal, "Normalization of Crazy Data — Python", https://medium.com/@equipintelligence/normalization-of-crazy-data-python-4fa6611e7b46

* Steven Van Dorpe, "Preprocessing with sklearn: a complete and comprehensive guide", https://towardsdatascience.com/preprocessing-with-sklearn-a-complete-and-comprehensive-guide-670cb98fcfb9